// Mixins Here
.centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button(@bg, @f) {
    background: @bg;
    color: @f;
    border-radius: 5px;
    width: 2rem;
}